.loaderContainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
  background-color: #fff;
}

.loader {
  margin-top: -100px;
  z-index: 99999; 
  position: 'fixed';
  border: 8px solid #007bff;
  border-radius: 50%;
  border-top: 8px solid #ddd;
  width: 45px;
  height: 45px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
